body {
  font-family: 'Lato', sans-serif;
}


.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: #23252B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding-left: 220px;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}
